/*
  Sitemap Styler   
*/

#sitemap2, #sitemap2 ul, #sitemap2 li{
  margin:0;
  padding:0;
  list-style:none;
}
#sitemap2{background:url(line1.gif) repeat-y;}
#sitemap2 li{
  line-height:20px;
  margin-top:1px;
  position:relative;
  width:100%;
}
/* IE leaves a blank space where span is added so this is to avoid that */
* html #sitemap2 li{
  float:left;
  display:inline;
}

#sitemap2 li a{padding-left:28px;}
#sitemap2 li span{float:left;position:absolute;top:5px;left:5px;width:13px;height:13px;cursor:auto;font-size:0;}
#sitemap2 li span, #sitemap2 li span.collapsed{background:url(../img/collapsed.gif) no-repeat 0 0;} 
#sitemap2 li span.expanded{background:url(../img/expanded.gif) no-repeat 0 0;}

/* sub levels */

#sitemap2 li ul{  
  margin-left:28px;
  background:url(../img/line1.gif) repeat-y;
}
#sitemap2 li li{  
  background:url(../img/line2.gif) no-repeat 0 0;
}

/* etc. */

/* float fix */

#sitemap2:after, #sitemap2 ul:after{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#sitemap2, #sitemap2 ul{display:block;}
/*  \*/
#sitemap2, #sitemap2 ul{min-height:1%;}
* html #sitemap2, * html #sitemap2 ul{height:1%;}
 /*  */
#sitemap2 ul{display:none;}